html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    height: 100%;
    background-color: lightgray;
}

.container {
    background-color: black;
  
    margin: 0 10rem 0 10rem;
    
}
@media (max-width: 768px) {
    .container {
        margin: 0;
    }
}

.side {
    min-height: 100vh;
    width: 30%;
    background: #c2185b;
    float: left;
    -webkit-box-shadow: 2px 0px 22px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 2px 0px 22px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 2px 0px 22px 0px rgba(0, 0, 0, 0.37);
    position: relative;
    z-index: 2;
    display: initial;
    
}
@media only screen and (max-width: 768px) {
    .side {
        display: none; 
    }
}

#copy {
    margin: 4rem 0 0 2rem;
    padding: 2rem 0 0 2rem;
}

#copy a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#copy a:hover {
    color: white;
}

.content {
    min-height: 100vh;
    width: 70%;
    background: #fa5788;
    float: right;
}
@media (max-width: 768px) {
    .content {
        width: 100%;
    }
}


.content h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.side-wrapper {
    padding-top: 4rem;
    text-align: center;
    
}


.side-wrapper>form>input {
    margin-bottom: 2rem;
    border-radius: 4px;
}

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
    -webkit-transition: 0.5s;
    -moz-box-transition: 0.5s;
    transition: 0.5s;
}

.side-wrapper>form>span {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
}

.wrapper {
    text-align: center;
    height: 40rem;
}

#map {
    display: inline-block;
    border: #555 solid thin;
}

div#bh {
    margin-top: 3rem;
    padding-top: 0.5rem;
    width: 80%;
    display: inline-block;
    background: white;
    border-left: solid #00B1FF 1.5rem;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.29);
    box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.29);
}

div#bh>h2 {
    margin: 0;
}

div#bh h2,
p {
    font-family: Arial, Helvetica, sans-serif;
}

div#bh p {
    font-size: 1.25rem;
}

div#bh span {
    margin: 2rem;
}

div#gh {
    margin-top: 3rem;
    padding-top: 0.5rem;
    width: 80%;
    display: inline-block;
    background: white;
    border-left: solid gold 1.5rem;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.29);
    box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.29);
}

div#gh>h2 {
    margin: 0;
}

div#gh h2,
p {
    font-family: Arial, Helvetica, sans-serif;
}

div#gh p {
    font-size: 1.25rem;
}

div#gh span {
    margin: 2rem;
}

#clock-holder {
    background: white;
    width: 70%;
    margin: 2rem auto;
    padding: 0.60rem 0 0.60rem 0;
    border: 3px solid #ccc;
    border-radius: 4px;
}